   html, body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100%;
    background-color: #342836;
    color: #fff;
    flex-direction: column;
}

.container {
    text-align: center;
    background: linear-gradient(to right, rgb(97, 48, 56), purple, rgb(255, 0, 200));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 350px;
    flex-grow: 1;
    margin: auto;
}


input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#password {
    width: 330px;
    background: #222;
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

#length {
    width: 50px;
    background-color: rgb(205, 13, 230);
}

button {
    background: #710bde;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #005ce6;
}

.strength-bar {
    height: 5px;
    width: 100%;
    background: gray;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.3s;
}

.controls {
    text-align: left;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #161517;
    position: relative;
    color: aquamarine;
}
.contact-links {
    margin: 10px;
    color: aquamarine;
    font-size: 1.5rem;
}